@import url('https://fonts.googleapis.com/css?family=Lora');
/* font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/* font-family: 'Open Sans', sans-serif; */

a {
  text-decoration: none;
}

/* NAV-BOTTOM */

.nav-bottom {
  width: 100vw;
  height: 50px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 13.2px;
  line-height: 18px;
  font-weight: 700;
  color: #A9A9A9;
  position: fixed;
  bottom: 0;
}

.nav-bottom-inner {
  width: 80%;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  border-top: 2px solid #D7D7D7;
}

.nav-bottom-inner a {
  color: #A9A9A9;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-bottom-inner a:active {
  color: #C9C9C9;
}

.nav-bottom-inner a.current {
  border-bottom: 3px solid #00FFE9;
}

@media (max-width: 850px) {
  .nav-bottom-inner a {
    margin-left: 12%;
    margin-right: 12%;
  }
}

@media (max-width: 700px) {
  .nav-bottom-inner a {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 610px) {
  .nav-bottom-inner a {
    margin-left: 8%;
    margin-right: 8%;
  }
}
